@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --color-green-1: #62826d;
    --color-green-2: #25392c;

    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

    --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
    --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
    --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
    --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
    --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);
  
    /* One-up pairs */
    --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
    --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
    --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
    --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
    --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
    --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
    --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
    --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);
  
    /* Custom pairs */
    --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);
  }

html {
    scroll-behavior: smooth;
    font-size: 20px;
}

body {
    font-family: Poppins;
    margin: auto;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a[href^="http://"]:after,
a[href^="https://"]:after {
    content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
    margin: 0 0 0 5px;
}

.logo {
    display: inline;
    color: gold;
}

nav {
    display: grid;
    grid-template-columns: 6rem 100fr 300fr 1fr 1fr 40px;
    grid-template-rows: 50px;
    align-items: center;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 101;
    background-color: var(--color-green-2);
}

nav .logo-main {
    color: green;
    -webkit-text-stroke: 1px #005B00;
}

nav .logo-sub {
    -webkit-text-stroke: 1px #C77F00;
    color: gold;
    font-size: small;
}

nav .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 60px;
    justify-content: right;
}

nav .menu a {
    color: #212121;
}

nav .menu a:hover {
    color: #212121;
    text-decoration: underline;
}

nav .menu-1 {
    padding: 32px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 60px;
    font-weight: 500;
    justify-content: left;
    color: #212121;
}

nav .menu button {
    margin-top: -10px;
}

.lead-body h1 {
    margin-top: 0;
    font-size: var(--step-2);
}

.lead-body p:nth-child(1) {
    margin-bottom: 0;
}

.lead-header,
.container {
    max-width: 80ch;
    margin: auto;
}

.container .title {
    margin-top: 4rem;
    font-weight: bold;
}

.container>h5 {
    margin-top: 0;
}

.hero {
    height: 60vh;
    color: #ffffffc4;
}

.hero .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    opacity: 1;
    z-index: 10;
    font-size: var(--step--1);
}

.hero .item img {
    width: 100vw;
    height: 60vh;
    border-bottom: .7rem solid var(--color-green-2);
}

.hero .item .content {
    position: absolute;
    left: 6rem;
    top: 5rem;
    max-width: 45%;
    z-index: 1;
    color: #eee;
}

.hero .item .content p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 4px;
    /* font-size: 0.7em; */
}

.hero .item .content p:nth-child(3) {
    font-size: 1rem;
    margin: 1rem 0 0 0;
}

.hero .item .content h2 {
    font-size: var(--step-2);
    font-weight: bold;
    margin: 0;
    line-height: 2.5rem;
}

.hero .item .content button {
    height: 50px;
    border-radius: 6px;
    margin: 1rem 0 0 0;

}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.container-benefits {
    display: grid;
    margin: auto;
    width: fit-content;
}

.benefits {
    display: grid;
    margin: 2rem 0;
    grid-template-columns: repeat(3, 1fr);
}
.benefits .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 16rem;
}
.benefits h3 {
    margin: 0;
    padding-left: .5rem;
}
.benefits i {
    font-size: 2rem;
}

.benefits .hidden-big {
    display: none;
}

@media screen and (max-width: 1200px) {
    .hero::after {
        content: '';
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-size: 3em;
    }

    .hero .item .content {
        top: 2rem;
    }
}

@media screen and (max-width: 900px) {
    .hero {
        overflow: hidden;
    }

    .hero .item .content {
        left: 6%;
        width: 100vw;
    }

    .lead-header, .container {
        margin: 1rem;
    }

    .heres-how {
        display: block !important;
    }

}

/* CSS */
.button-7 {
    background-color: gold;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-weight: 700;
    line-height: 1.15385;
    outline: none;
    padding: 8px 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
    background-color: gold;
}

.button-7:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
    background-color:gold;
    box-shadow: none;
}

/* Nav button */
.button-nav {
    background-color: transparent;
    border: 1px solid wheat;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: gold;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-weight: 700;
    line-height: 1.15385;
    outline: none;
    padding: 8px 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button-nav:hover,
.button-nav:focus {
    background-color: gold;
    color: #333;
}

.button-nav:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-nav:active {
    background-color: goldenrod;
    box-shadow: none;
}

footer {
    display: flex;
    background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
    justify-content: center;
    align-items: center;
    padding: 0 3rem 6rem 3rem;
}

.col-2 {
    display: flex;
    gap: 8rem;
    flex-direction: row;
}


.problem-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    font-size: 24px;
    min-height: 400px;
}

.problem-body div {
    display: block;
    width: 24rem;
    margin: auto 10px;
}

.problem-body .product-image {
    width: 22rem;
}

.problem-body img {
    max-width: 100%;
    border-radius: 16px;
}

.problem-body h3 {
    font-size: 24px;
}

.bg-white {
    color: #212121 !important;
    background: white !important;
}

.wave {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-position-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 120px;

}

.wave .shape-fill {
    fill: black;
}

.wave-white {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-white svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 120px;
    background: #353535;
}

.wave-white .shape-fill-white {
    fill: white;
    /* background: black; */
}

.wave .shape-fill-reverse {
    fill: var(--gray-3);
}

.wave-filler h2 {
    font-size: calc(2vw + 2vh + 2vmin);
    margin: 0;
}

.wave-filler {
    align-content: center;
    color: #353535;
    height: 30vh;
    background-image: radial-gradient(circle farthest-corner, #fceabb, #f8b500);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.wave-filler button {
    padding: 12px;
    background-color: transparent;
    border-style: none;
    border: 1px solid black;
}

.wave-filler button:hover {
    background-color: goldenrod;
    color: #212121;
}

.wave-filler p {
    margin-top: -16px;
}

.faq-container {
    margin-top: 6em;
}

.faq-container .item {
    margin-bottom: 2em;
}

.faq-container span {
    font-size: 1.3rem;
    font-weight: 600;
}

.sup {
    vertical-align: super;
}

.bg-glass {
    background: rgba(39, 186, 106, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(39, 186, 106, 0.06);
}

.custom-shape-divider-top-1727887149 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1727887149 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1727887149 .shape-fill {
    fill: #FFFFFF00;
}

.col-container {
    display: flex;
    flex-direction: column;
    margin-left: 15em;
    width: 80ch;
}

aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside>p {
    margin: 0.5rem;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: auto auto 3em auto;
    padding: 0;
}

.read-more {
    font-size: small;
    text-decoration: none;
}

.img-sm {
    width: 24vw;
    margin-right: 28px;
    border: 2px solid #353535;
    border-radius: 5px;
}

.img-sm.img-left {
    float: left;
}

.img-sm.img-right {
    float: right;
    margin-left: 24px;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.lead-paragraph {
    margin-bottom: 3rem;
}

.breadcrumb {
    padding: 0 .5rem;
    font-size: small;
}

.breadcrumb a {
    text-decoration: underline;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 0 0 10rem;
    padding: 0;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "→";
}

/* a[href^='mailto']::before {
    content: '📧 ';
}

a[href^='tel']::before {
    content: '📞 ';
} */

.heres-how {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.heres-how img {
    border-radius: 100%;
    border: solid 1px #353535;
}

.heres-how div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heres-how div p:nth-child(2) {
    font-weight: bold;
}

.heres-how div p:nth-child(3) {
    font-size: smaller;
    width: 16em;
    text-align: center;
}

.training div:has(img) {
    float: right;
}

.training img {
    border-radius: 12px;
    width: 12em;
}

dt {
    font-weight: bold;
}

dl,
dd {
    font-size: 0.9rem;
}

dd {
    margin-bottom: 1em;
}

.container-gauge {
    margin: 1rem auto;
}

.container-gauge h5 {
    margin: 0;
}

.container-gauge ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container-gauge li {
    display: inline;
    padding: .2rem;
}

.container-gauge button {
    padding: .5rem 1rem;
    margin-bottom: .5rem;
}

.container-quantity .paypal {
    background-color: goldenrod;
    display: block;
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 5px;
    margin-top: 6px;
}

.container-quantity .cart {
    padding: .5rem 1rem;
    border-radius: 5px;
    display: inline;
    width: 60%;
}

.container-quantity {
    display: inline;
}

.container-quantity h5 {
    margin: 0;
}

.container-quantity .quantity {
    height: 1.5rem;
    border-radius: 5px;
}

.stars {
    /* display: flex; */
    transform: scale(.2);
    position: absolute;
    top: 13em;
    left: -3em;
}
.stars-comment {
    position: absolute;
    top: 35em;
    left: 19em;
    font-size: small;
}
/* .stars::after {
    content: '1 AI Generated Review';
    transform: scale(2);
} */

.star {
    flex: 25%;
    margin: 50px 0;
    position: relative;
    display: inline-block;
    color: red;
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 33px solid gold;
    border-left: 50px solid transparent;
    transform: rotate(35deg);
}

.star:before {
    border-bottom: 40px solid gold;
    border-left: 15px solid transparent;
    border-right: 25px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -25px;
    left: -30px;
    display: block;
    content: '';
    transform: rotate(-32deg);
}

.star:after {
    position: absolute;
    display: block;
    color: red;
    top: 0;
    left: -50px;
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-bottom: 35px solid gold;
    border-left: 50px solid transparent;
    transform: rotate(-70deg);
    content: '';
}

/* * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  } */
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: var(--color-green-2);
    position: relative;
    z-index: 200;
    margin-right: 1rem;
  }
  
  .nav > .nav-header {
    display: inline;
    margin-left: 6rem;
    line-height: 2rem;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: wheat;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-links > button {
    margin-right: 2rem;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(30vh - 50px);
      overflow-y: auto;
    }

    .benefits {
        grid-template-columns: repeat(1, 1fr);
    }
    .benefits .item:not(:last-child) {
        flex-direction: column;
        padding: 0;
        margin-bottom: 1rem;
    }

    .benefits .hidden-big {
        display: inline;
    }  

    .hero .item img {
        height: 20vh;
    }
    .hero .item .content {
        position: relative;
        color: #333;
        max-width: 90vw;
    }
    .hero .item .content p {
        margin-top: 0;
    }

    .nav > .nav-header {
        margin-left: .5rem;
    }

    .button-nav {
        background-color: gold;
        color: #333;
    }

    .wave-filler h2 {
        font-size: revert;
    }
    .wave-filler p {
        margin-top: 0;
    }

    .col-2 {
        gap: 0;
        flex-direction: column;
    }

    .problem-body {
        flex-direction: column;
        margin: 2rem 0;
        text-align: center;
    }
    .problem-body div {
        margin: auto;
    }
}
