@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --gray-1: #252525;
    --gray-2: #313131;
    --gray-3: #2a2a2a;
}

@property --warning-color {
    syntax: "<color>";
    inherits: true;
    initial-value: yellow;
}

html {
    scroll-behavior: smooth;
    font-size: 18px;
}

body {
    font-family: Poppins;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a[href^="http://"]:after,
a[href^="https://"]:after {
    content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
    margin: 0 0 0 5px;
}

header {
    display: grid;
    grid-template-columns: 40px 100fr 300fr 1fr 1fr 40px;
    grid-template-rows: 70px;
    align-items: center;
    padding-left: 20px;
    background-color: #21212121;
}

header .logo-main {
    color: green;
    -webkit-text-stroke: 1px #005B00;
}

header .logo-sub {
    -webkit-text-stroke: 1px #C77F00;
    color: gold;
    font-size: small;
}

header .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 60px;
    font-weight: 500;
    justify-content: right;
    color: #212121;
}

header .menu-1 {
    padding: 32px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 60px;
    font-weight: 500;
    justify-content: left;
    color: #212121;
}

header .menu button {
    margin-top: -10px;
}


main {
    /* width: 80ch; */
    margin: auto;
    /* padding: 1rem 0 10rem 0; */
}

.lead-body h1 {
    margin-top: 0;
}

.lead-body p:nth-child(1) {
    margin-bottom: 0;
}

.lead-header,
.container {
    width: 80ch;
    margin: auto;
}

.container .title {
    margin-top: 4rem;
    font-weight: bold;
}

.container>h5 {
    margin-top: 0;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 101;
    background-color: #E2E2E2;
}

.hero {
    height: 60vh;
    position: relative;
    color: #ffffffc4;
}

.hero.about {
    height: 30vh;
}

.hero .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    /* transition: 1s; */
}

.hero .item img {
    zoom: 133%;
    margin-top: -5em;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    min-width: 900px;
}

.hero.about .item img {
    width: 100vw;
    zoom: 100% !important;
    margin-top: -5em;
}

.hero .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.hero .item .content {
    position: absolute;
    left: 11rem;
    top: 5rem;
    width: 40vw;
    max-width: 80%;
    z-index: 1;
    color: #eee;
}

.hero .item .content p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 0.7em;
    text-shadow: #212121 1px 1px 5px;
}

.hero .item .content h2 {
    font-size: calc(3vw + 2vmin);
    font-weight: bold;
    margin: 0;
    line-height: 3.2rem;
}

.hero .item .content button {
    height: 50px;
    border-radius: 10px;
}

.hero .item.active {
    opacity: 1;
    z-index: 10;
    font-size: 1.5rem;
}


@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.benefits {
    display: flex;
    margin: 4rem auto;
}

.benefits .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-width: 8rem;
}

@media screen and (max-width: 1200px) {
    .hero::after {
        content: 'test';
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-size: 3em;
    }
}

@media screen and (max-width: 900px) {
    .hero {
        min-width: 900px;
        overflow: hidden;

    }

    .hero .item .content {
        left: 10%;
        width: 100vw;
    }
}

/* CSS */
.button-7 {
    background-color: goldenrod;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-weight: 700;
    line-height: 1.15385;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
    background-color: #07c;
}

.button-7:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
    background-color: #0064bd;
    box-shadow: none;
}

footer {
    display: flex;
    height: 300px;
    background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
    justify-content: center;
    align-items: center;
}

.col-2 {
    display: flex;
    gap: 8rem;
}


.problem-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    text-align: center;
    font-size: 24px;
    min-height: 400px;
}

.problem-body div {
    width: 468px;
    margin: auto 10px;
}

.problem-body img {
    max-width: 100%;
    border-radius: 16px;
}

.problem-body h3 {
    font-size: 24px;
}

.bg-white {
    color: #212121 !important;
    background: white !important;
}

.wave {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-position-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 120px;

}

.wave .shape-fill {
    fill: black;
}

.wave-white {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-white svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 120px;
    background: #353535;
}

.wave-white .shape-fill-white {
    fill: white;
    /* background: black; */
}

.wave .shape-fill-reverse {
    fill: var(--gray-3);
}

.wave-filler h2 {
    font-size: calc(2vw + 2vh + 2vmin);
    margin: 0;
}

.wave-filler {
    align-content: center;
    color: #353535;
    height: 30vh;
    background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.wave-filler button {
    padding: 12px;
    background-color: transparent;
    border-style: none;
    border: 1px solid black;
}

.wave-filler button:hover {
    background-color: goldenrod;
    color: #212121;
}

.wave-filler p {
    margin-top: -16px;
}

.faq-container {
    margin-top: 6em;
}
.faq-container .item {
    margin-bottom: 2em;
}

.faq-container span {
    font-size: 1.3rem;
    font-weight: 600;
}

.sup {
    vertical-align: super;
}

.bg-glass {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(22, 93, 33, 0.35);
}

.custom-shape-divider-top-1727887149 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1727887149 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1727887149 .shape-fill {
    fill: #FFFFFF00;
}

.col-container {
    display: flex;
    flex-direction: column;
    margin-left: 15em;
    width: 80ch;
}

aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside>p {
    margin: 0.5rem;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: auto auto 3em auto;
    padding: 0;
}

.read-more {
    font-size: small;
    text-decoration: none;
}

.img-sm {
    width: 24vw;
    margin-right: 28px;
    border: 2px solid #353535;
    border-radius: 5px;
}

.img-sm.img-left {
    float: left;
}

.img-sm.img-right {
    float: right;
    margin-left: 24px;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.lead-paragraph {
    margin-bottom: 3rem;
}

.breadcrumb {
    padding: 0 .5rem;
    font-size: small;
}

.breadcrumb a {
    text-decoration: underline;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 0 0 10rem;
    padding: 0;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "→";
}

a[href^='mailto']::before {
    content: '📧 ';
}

a[href^='tel']::before {
    content: '📞 ';
}

.heres-how {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heres-how img {
    border-radius: 100%;
    border: solid 1px #353535;
}

.heres-how div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heres-how div p:nth-child(2) {
    font-weight: bold;
}

.heres-how div p:nth-child(3) {
    font-size: small;
    width: 16em;
    text-align: center;
}

.training div:has(img) {
    float: right;
}
.training img {
    border-radius: 12px;
    width: 12em;
}